/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-width: 36em;
  max-width: 36em;
}
input[type="button"],
button,
select,
textarea {
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  width: 100%;
  background: #f1f1f1;
  padding: 0 0.5em;
  height: 2.5em;
}
input[type="button"],
button,
select {
  line-height: 2.5em;
}
textarea {
  box-sizing: content-box;
  width: calc(100% - 1.25em) !important;
  padding: 0.5em;
}
input[type="button"],
textarea {
  background: #fff;
}
button {
  text-align: center;
}
section {
  background-position: 24px 1.5em;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}
section:not(.active) {
  display: none;
}
section > h1 {
  font-size: 1.2rem;
  line-height: 1.2em;
  margin-top: 1em;
}
section > h2 {
  position: relative;
  font-size: 1.1rem;
  line-height: 1.2em;
  text-align: center;
  padding: 0.75em 45px 0.75em 75px;
  margin-bottom: 0.75em;
  border-bottom: 1px solid #e1e1e1;
}
section > a,
section > p,
section > h1,
section > form,
section > label {
  margin-left: 75px;
  margin-right: 45px;
}
section > label,
section > label > *,
section > label::after {
  display: block;
  line-height: 1.2em;
  height: 1.2em;
}
section > label > * {
  position: absolute;
}
section > label::after {
  margin-left: 1.5em;
}
section > h1 + :not(button) {
  margin-top: 0.75em;
}
section > :not(button):last-child {
  padding-bottom: 2em;
}
section > a {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
section > label {
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}
section > p,
section > button,
section > label {
  font-size: 1rem;
  line-height: 1.5em;
}
section > form > * {
  display: block;
  width: 100%;
  margin-top: 1em;
}
section > button {
  border: 0;
  border-top: 1px solid #e1e1e1;
  border-radius: 0;
  width: 50%;
  float: left;
  height: 3em;
}
section > h2 > button {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 100%;
  border: none;
  padding: 0;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
section > button + button {
  border-left: 1px solid #e1e1e1;
}
section > h1 + button,
section > h1 + button + button {
  margin-top: 1em;
}
button.emphasize,
button:active,
button:focus {
  color: #fff;
  background-color: #0260de;
}
section > button:only-of-type {
  margin-top: 0.75em;
  width: 100%;
}
section > h1 + button:only-of-type {
  margin-top: 2.5em;
}
#thankYou > h1 {
  margin-top: 1.75em;
}
#thankYouFeedback > a {
  float: right;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
#feedbackForm select,
#feedbackForm textarea {
  margin-bottom: 0.5em;
}

#issueTakeScreenshot,
#issueRemoveScreenshot {
  display: block;
}
#issueRemoveScreenshot {
  padding-right: 16px;
}
#issueRemoveScreenshot > * {
  vertical-align: top;
  display: inline-block;
}
#issueRemoveScreenshot > img {
  margin-left: 0.5em;
  cursor: pointer;
  max-width: 50%;
  max-height: 14em;
}
#issueRemoveScreenshot > button {
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  margin-left: -18px;
  margin-top: -12px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-image: url(icons/remove.svg);
}

#thankYou,
#thankYouFeedback { background-image: url(icons/done.svg); }
#initialPrompt { background-image: url(icons/broken_page.svg); }
button[data-action="back"] { background-image: url(icons/back.svg); }

#initialPrompt > h1::before { content: "__MSG_titleInitialPrompt__"; }
#initialPrompt > p::before { content: "__MSG_textInitialPrompt__"; }
#initialPrompt > a::before { content: "__MSG_linkInitialPrompt__"; }

#initialPrompt > label::after { content: "__MSG_labelNeverShowAgain__"; }

#thankYou > h1::before { content: "__MSG_titleThankYou__"; }

#thankYouFeedback > h1::before { content: "__MSG_titleThankYouFeedback__"; }
#thankYouFeedback > p::before { content: "__MSG_textThankYouFeedback__"; }
#thankYouFeedback > a::after { content: "__MSG_labelLearnMore__"; }

#feedbackForm > h2::before { content: "__MSG_titleFeedbackForm__"; }
#feedbackForm > p::after { content: "__MSG_textFeedbackForm__"; }
#feedbackForm > label::after { content: "__MSG_labelIncludeURL__"; }
#issueRemoveScreenshot > p::after { content: "__MSG_textScreenshotOfIssue__"; }

button[data-action="ok"]::before { content: "__MSG_buttonOK__"; }
button[data-action="yes"]::before { content: "__MSG_buttonYes__"; }
button[data-action="no"]::before { content: "__MSG_buttonNo__"; }
button[data-action="submit"]::before { content: "__MSG_buttonSubmit__"; }
button[data-action="cancel"]::before { content: "__MSG_buttonCancel__"; }

#issueTakeScreenshot::before {
  content: "__MSG_buttonTakeScreenshot__";
  background: url(icons/screenshot.svg) no-repeat;
  padding-left: 20px;
}
