/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
  max-width: 36em;
}
body.thankYou {
  background-color: #0060df;
}
input,
label,
button,
select {
  cursor: pointer;
}
input[type="button"],
button,
select,
textarea {
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  width: 100%;
  background: #f1f1f1;
  padding: 0 0.5em;
  height: 2.5em;
}
input[type="button"],
button,
select {
  line-height: 2.5em;
}
textarea {
  box-sizing: content-box;
  width: calc(100% - 1.25em) !important;
  padding: 0.5em;
  min-height: 3.5em;
}
textarea,
[data-detail="description"] {
  overflow-y: auto;
}
input[type="button"],
textarea {
  background: #fff;
}
button {
  text-align: center;
}
section {
  background-position: 24px 1.5em;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  min-width: 36em;
}
section:not(.active) {
  display: none;
}
section > h1 {
  font-size: 1.2rem;
  line-height: 1.2em;
  margin-top: 1em;
}
section > h2 {
  position: relative;
  font-size: 1.1rem;
  line-height: 1.2em;
  text-align: center;
  padding: 0.75em 45px 0.75em 75px;
  margin-bottom: 1.25em;
  border-bottom: 1px solid #e1e1e1;
}
section > a,
section > p,
section > h1,
section > div,
section > form,
section > label,
section > table {
  margin-left: 75px;
  margin-right: 45px;
}
section > label {
  display: flex;
  align-items: center;
  line-height: 1.2em;
  height: 1.2em;
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}
section > label > * {
  margin-right: 0.5em;
}
section > h1 + :not(button) {
  margin-top: 0.75em;
}
section > :not(button):last-child {
  padding-bottom: 2em;
}
section > a {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}
section > p,
section > button,
section > label,
section > table {
  font-size: 1rem;
  line-height: 1.25em;
}
section > table tr {
  display: block;
}
section > table th {
  font-weight: bold;
  padding-right: 0.5em;
}
section > table th,
section > table td {
  display: inline;
}
section > form > * {
  display: block;
  width: 100%;
  margin-top: 1em;
}
section > button {
  border: 0;
  border-top: 1px solid #e1e1e1;
  border-radius: 0;
  width: 50%;
  float: left;
  height: 3em;
}
section > * + button,
section > * + button + button {
  margin-top: 8px;
}
section > h2 > button {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 100%;
  border: none;
  padding: 0;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
section > button + button {
  border-left: 1px solid #e1e1e1;
}
section > div > * + button {
  margin-top: 8px;
}
section > h1 + button,
section > h1 + button + button {
  margin-top: 1em;
}
section > div > * + button + button {
  margin-top: 8px;
}
button.emphasize,
button:active {
  color: #fff;
  background-color: #0260de;
}
.takeScreenshot,
.screenshot {
  display: block;
}
.screenshot {
  padding-right: 16px;
}
.screenshot > * {
  vertical-align: top;
  display: inline-block;
}
.screenshot > img {
  cursor: pointer;
  display: none;
  margin-left: 0.5em;
  border: 1px solid #eee;
  border-radius: 4px;
}
.screenshot > button {
  padding: 0;
  width: 30px;
  height: 30px;
  margin-left: -22px;
  margin-top: -10px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 12px 12px;
  background-image: url(icons/remove.svg);
  border: 1px solid #e1e1e1;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(128, 128, 128, 0.2);
}
section > button:only-of-type {
  margin-top: 0.75em;
  width: 100%;
}
section > h1 + button:only-of-type {
  margin-top: 2.5em;
}
.initial {
  background-image: url(icons/notification.svg);
}
button[data-action="back"] {
  background-image: url(icons/back.svg);
  background-size: 12px 12px;
}

section > p {
  margin-top: 0.75em;
}

#feedbackDetails .screenshot {
  margin-top: 1em;
}
#feedbackDetails p {
  margin-bottom: 1em;
}

#initialPrompt a {
  display: none;
}

.takeScreenshot::before {
  content: "__MSG_buttonTakeScreenshot__";
  background: url(icons/screenshot.svg) no-repeat;
  padding-left: 24px;
}

.secondary {
  color: #737373;
}

form > div > input {
  vertical-align: bottom;
}

form > div > label {
  vertical-align: top;
}

.negativeSentiment,
.positiveSentiment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.negativeSentiment::before {
  content: ' ';
  display: inline-block;
  background-image: url(icons/u1F629-weary.svg);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.positiveSentiment::before {
  content: ' ';
  display: inline-block;
  background-image: url(icons/u1F600-grin.svg);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
}

div.screenshot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#thankYouFeedback {
  background-color: #0060df;
  border-color: #0060df;
  color: #fff;
  padding: 6px 10px;
  min-width: 0;
}

#thankYouFeedback > span {
  font-size: 1.1rem;
  font-weight: 400;
}

#initialPrompt > p,
#initialPromptSentiment > p {
  margin-top: 12px;
  margin-bottom: 12px;
}

#initialPrompt button.siteWorks::before {
  content: ' ';
  display: inline-block;
  background-image: url(icons/check.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  padding-right: 8px;
}

#initialPrompt button.siteSlow::before {
  content: ' ';
  display: inline-block;
  background-image: url(icons/performance.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  padding-right: 8px;
}

#initialPrompt button.siteBroken::before {
  content: ' ';
  display: inline-block;
  background-image: url(icons/alert-circle.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  padding-right: 8px;
}

#performancePrompt button.performanceIssue::before {
  content: ' ';
  display: inline-block;
  background-image: url(icons/performance.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  padding-right: 8px;
}

#performancePrompt button.siteBroken::before {
  content: ' ';
  display: inline-block;
  background-image: url(icons/alert-circle.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  padding-right: 8px;
}

#problemReport button.requestScreenshot::before {
  content: ' ';
  display: inline-block;
  background-image: url(icons/screenshot.svg);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  padding-right: 8px;
}
